<?xml version="1.0"?>

<model>
  <name>Binaries Model</name>
  <version>1.0</version>
  <!--sdf version="1.2">model-1_2.sdf</sdf>
  <sdf version="1.3">model-1_3.sdf</sdf>
  <sdf version="1.4">model-1_4.sdf</sdf-->
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Roberto Ciardi</name>
    <email>roberto.ciardi93@gmail.com</email>
    <name>Giovanni Falzone</name>
    <email>falzone.giovanni2@gmail.com</email>
  </author>

  <description>
    A simple model for station binaries
  </description>
</model>
