<?xml version="1.0"?>
<robot name="robot_inspector" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- ur5 from universal robots package-->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />
  <!-- kinect -->
  <xacro:include filename="$(find common_sensors)/urdf/sensors/kinect.urdf.xacro" />
  <!-- <xacro:include filename="$(find common_sensors)/urdf/sensors/kinect2.urdf.xacro" /> -->

  <link name="world" />
  <joint name="base_arm" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <xacro:ur5_robot prefix="" joint_limited="false"/>
<!-- Attach Kinect -->  
  <xacro:sensor_kinect parent="ee_link" />
  <!-- <xacro:kinect2 parent="ee_link" name="KinectSensor2">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:kinect2> -->

<!-- Gionni was here -->
</robot>

